<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
</head>
<body class="body">
    <h1>Система определения антиквариата</h1>
    <form class="form">
    <div class="div_main">
       <div class="div_1">
        <label for="year">Год производства</label>
        <input class="button1" type="text" id="year" name="year" required>
       </div>

       <div class="div_1">
        <label for="country">Страна производства</label>
        <select class="button1" required="required" id="country" name="country">
            <option value="">...</option>
            <option value="Rus">Россия</option>
            <option value="UK">Великобритания</option>
            <option value="USA">США</option>
            <option value="Canada">Канада</option>
            <option value="else">Другая</option>
        </select>
        </div>

        <div class="div_2">
        <label for="materials">Присутствуют ли дорогие материалы?</label>
        <select class="button1" required="required" id="materials" name="materials">
            <option value="?">Не знаю</option>
            <option value="yes">Да</option>
            <option value="no">Нет</option>
        </select>
        </div>

        <div class="div_1">
        <label for="unique">Уникальность изготовления</label>
        <select class="button1" required="required" id="unique" name="unique">
            <option value="no">Нет</option>
            <option value="yes">Уникальные технологии</option>
            <option value="mb">Редкие технологии</option>
        </select>
        </div>
    </form>
    <button class="button" id="submit">Submit</button>
    </div>
    <div class="results">
        <p class="res__up" id="main"></p>
        <p class="res__down" id="price"></p>
    </div>
    <script src="{% static 'polls/js/index.js'%}"></script>
</body>
</html>